<strong>Olá, {{ student }}</strong>
<p>
  Segue resposta à sua dúvida:
</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Respondida em: </strong> {{ answer_at }} <br />
</p>
